In [9]:
from IPython.core.interactiveshell import InteractiveShell #print Multiple variables
InteractiveShell.ast_node_interactivity='all'

In [10]:
import pandas as pd

In [15]:
t1 = pd.DataFrame([[310, 123]], columns = ['A', 'B'])
#  or equivalent
t2 = pd.DataFrame({'A': [310], 'B':[123]})

t1
t2

     A    B
0  310  123

     A    B
0  310  123